<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Internet Bank</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>
	<div class="container my-3">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2>Welcome to Internet Bank</h2>
				<div>
				<span  th:text="${message}"></span>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-group">
						<a href="/login">Login</a>
					</div>
					<div class="col-md-6 form-group">
						<a href="/registration">Registration</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script>
    $(function() {
        $("#join_datepicker").datepicker({dateFormat:"yy-mm-dd"});
        $("#retire_datepicker").datepicker({dateFormat:"yy-mm-dd"});
    });
</script>-->
</body>

</html>